@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* create color variables */
  /* BACKGROUNDS */
  --bg-el1: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-el2: hsl(219, 30%, 18%);
  /* ACCENT */
  --brand-1: hsl(176, 68%, 64%);
  --brand-2: hsl(198, 60%, 50%);
  --gradient: linear-gradient(90deg, var(--brand-1), var(--brand-2));
  --error: hsl(0, 100%, 63%);

  --font-header: "Open Sans", sans-serif;

  --font-body: "Raleway", sans-serif;

  --font-color: hsla(0, 0%, 100%, 1);
  --font-color-opac: hsla(0, 0%, 100%, 0.88);
}
